@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('http://fonts.cdnfonts.com/css/trajan-pro');
.tooltip{
    visibility: hidden;
    position: absolute;
  }
.has-tooltip:hover .tooltip {
    visibility: visible;
    z-index: 100;
}
.slick-prev {
  left: 25px;
  z-index: 10;
}

.slick-next {
  right: 35px;
  z-index: 10;
}
.slick-next:before, .slick-prev:before{
  font-size: 27px;
}
.font-cyzel{
  font-family:'Cinzel', serif;
}
.font-trajan{
  font-family: 'Trajan Pro', sans-serif;
}
body {
  font-family: 'Roboto', sans-serif;
}